


{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
  <a href="{% static 'html/index.html'%}" target="_blank" class="icon"><i class="icon-th-list "></i>Backend Docs</a>
  <a href="{% url 'log-viewer:logfile-view' '' %}" target="_blank" class="icon"><i class="icon-th-list "></i>Log Files</a>
{% endblock %}