@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif !important;
}

div.document {
  width: auto;
  margin: 0;
}

.sphinxsidebar {
  background-color: #3C4B9E;
  color: white;
  height: 100%;
  width: 300px!important;
}

.sphinxsidebar p {
  color: inherit !important;
}

.sphinxsidebar a {
  color: inherit !important;
}

.sphinxsidebar h3 {
  color: inherit !important;
}

.sphinxsidebar ul {
  color: inherit !important;
}

.logo {
  background-color: #3C4B9E
}

div.body {
  padding: 25px 30px 0 60px;
}

div.bodywrapper {
  margin: 0 0 0 300px;
}